<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>black.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{1,404},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>black_mask.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{1,408},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hint_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{260,160}</string>
			<key>spriteSourceSize</key>
			<string>{260,160}</string>
			<key>textureRect</key>
			<string>{{1,1},{260,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hint_bt_sure.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,150}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{263,1},{150,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>select_mask.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{5,404},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>send_text.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{5,408},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>social_input.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{20,20}</string>
			<key>spriteSourceSize</key>
			<string>{20,20}</string>
			<key>textureRect</key>
			<string>{{1,377},{20,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2,2}</string>
			<key>spriteSourceSize</key>
			<string>{2,2}</string>
			<key>textureRect</key>
			<string>{{9,404},{2,2}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tip_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{260,160}</string>
			<key>spriteSourceSize</key>
			<string>{260,160}</string>
			<key>textureRect</key>
			<string>{{1,163},{260,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>toast_bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3,20}</string>
			<key>spriteSourceSize</key>
			<string>{3,20}</string>
			<key>textureRect</key>
			<string>{{1,399},{3,20}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>wait_round.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{50,49}</string>
			<key>spriteSourceSize</key>
			<string>{118,119}</string>
			<key>textureRect</key>
			<string>{{1,325},{50,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>images.png</string>
		<key>size</key>
		<string>{414,414}</string>
		<key>textureFileName</key>
		<string>images.png</string>
	</dict>
</dict>
</plist>
